@using System.Runtime.Versioning
@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
@helper Selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
    }
}
@using (Html.BeginForm("SetCulture", "Home"))
{
    <fieldset>
        <legend></legend>
        <div class="control-group">
            <div class="controls">
                <label for="en-us">
                    <input name="culture" id="en-us" value="en-us" type="radio" @Selected("en-us", culture) /> English
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label for="ru">
                    <input name="culture" id="ru" value="ru" type="radio" @Selected("ru", culture) /> Русский
                </label>
            </div>
        </div>
    </fieldset>
}
